<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Личный блог Льва Никитина</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/article.css"> 
  </head>
  <body>

    <header>
      <nav>
          <ul>
            <li id="rubricator">
              <a href="/index.html/#nav-left">Рубрикатор</a>
            </li>
            <li>
              <a href="/index.html">О нас</a>
            </li>
            <li>
              <a href="#">Материалы</a>
            </li>
            <li>
              <a href="#">Пункт 1</a>
            </li>
            <li>
              <a href="#">Пункт 1</a>
            </li>
            <li>
              <a href="#">Пункт 1</a>
            </li>
            <li>
              <a href="#">Видео</a>
            </li>
            <li>
              <a href="#">Контакты</a>
            </li>
          </ul>
      </nav>
    </header>


    <main>
      $body$
    </main>

    <footer>
      <section>
        <header>
          <h1>О проекте</h1>
        </header>
        <ul>
          <li><a href="#">Наши цели</a></li>
          <li><a href="#">Приглашение к сотрудничеству</a></li>
          <li><a href="#">Поддержать проект</a></li>
          <li><a href="#">Email: nash.email@yandex.ru</a></li>
        </ul>
      </section>

      <section>
        <header>
          <h1>Подписка</h1>
        </header>
        <ul>
          <li><a href="#">RSS</a></li>
          <li><a href="#">Twitter</a></li>
        </ul>
      </section>
    </footer>

  </body>
</html>
