<ul class="post-list">
    $for(posts)$
          <article class="teaser">
            <header>
              <figure>
                <a href="$teaserPhoto$"><img src="$teaserPhoto$" alt="$teaserPhotoAlt$"/></a>
              </figure>
              <hgroup>
                <h1><a href="$url$">$title$</a></h1>
                <h2>
                  $teaserText$
                </h2>
              </hgroup>
            </header>
            <footer>
              <time datetime="$haskellDate$">$date$</time>
              $postTags$
            </footer>
          </article>
    $endfor$
</ul>
