
      <aside>
        $if(printed)$
          <section>
            <ul>
              <li>
                <p>
                  <a href="$printedUrl$">
                    <img class="icon" src="/static/images/icons/microsoft_word_logo-150x150.jpg"/>
                    Скачать печатную версию
                  </a>
                </p>
              </li>
          </ul>
          </section>
        $endif$

        <section>
          <header>
            <h1>Поделиться</h1>
          </header>
          <ul class="inline">
            <li>
              <a href="https://twitter.com/share">
                <img class="icon" src="/static/images/icons/tw.png" alt="tw" />
              </a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </li>
            <!--
            <li><a href="https://vk.com/superomsk"><img class="icon" src="/static/images/icons/vk.png" alt="vk" /></a></li>
            <li><a href="https://www.facebook.com/РИА-СуперОмск-210404555681577/"><img class="icon" src="/static/images/icons/fb.png" alt="fb" /></a></li>
            <li><a href="http://ok.ru/superomsk"><img class="icon" src="/static/images/icons/ok.png" alt="ok" /></a></li>
            <li><a href="https://twitter.com/SuperOmsk"><img class="icon" src="/static/images/icons/tw.png" alt="tw" /></a></li>
            <li><a href="https://twitter.com/SuperOmsk"><img class="icon" src="/static/images/icons/g.png" alt="google" /></a></li>
            <li><a href="https://twitter.com/SuperOmsk"><img class="icon" src="/static/images/icons/ya.png" alt="yandex" /></a></li>
          -->
          </ul>
        </section>

        <section>
          <header>
            <h1>Поделиться</h1>
          </header>
          <ul>
            $if(hrefOrigin)$
            <li><p>
              <img class="icon" src="/static/images/icons/external_link.png"/>
              <a href="$hrefOrigin$" target="_blank">Оригинальная публикация</a>
            </p></li>
            $endif$
          </ul>
        </section>

        <section>
          <header>
            <h1>Метки</h1>
          </header>
          $postTags$
        </section>

      </aside>

      <main id="main-content" class="post-article">
        <article>
          <header>
            <hgroup>
              <h1>$title$</h1>
              <h2>$teaserText$</h2>
            </hgroup>
            <time datetime="$haskellDate$">$date$</time>
            <author>$author$</author>
          </header>
          <main>
            $body$
          </main>
          <!--
          <footer>
            <h1>Наша справка:</h1>
            <p>
            Олег Юрьевич Кассин – сопредседатель Общероссийского общественного движения «Народный Собор», директор Межрегиональной общественной правозащитной организации «Центр народной защиты», Координатор Общественного координационного центра в защиту Веры и традиционных духовно-нравственных ценностей «Православное гражданское действие».
            </p>
          </footer>
        -->
        </article>
      </main>

      <aside>
      </aside>


<!-- FIXME
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'nlvblog'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
-->
